# Importing Libraries

In [ ]:
import numpy as np
import pandas as pd # Data Manipulation, Data Cleaning, Data Exploration, Data Visualization
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

ModuleNotFoundError: No module named 'numpy'

# Importing the Dataset

In [ ]:
df = pd.read_csv("./Housing.csv")

In [ ]:
df

NameError: name 'df' is not defined

In [ ]:
df.tail(15)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
530,2240000,1950,3,1,1,no,no,no,yes,no,0,no,unfurnished
531,2233000,5300,3,1,1,no,no,no,no,yes,0,yes,unfurnished
532,2135000,3000,2,1,1,no,no,no,no,no,0,no,unfurnished
533,2100000,2400,3,1,2,yes,no,no,no,no,0,no,unfurnished
534,2100000,3000,4,1,2,yes,no,no,no,no,0,no,unfurnished
535,2100000,3360,2,1,1,yes,no,no,no,no,1,no,unfurnished
536,1960000,3420,5,1,2,no,no,no,no,no,0,no,unfurnished
537,1890000,1700,3,1,2,yes,no,no,no,no,0,no,unfurnished
538,1890000,3649,2,1,1,yes,no,no,no,no,0,no,unfurnished
539,1855000,2990,2,1,1,no,no,no,no,no,1,no,unfurnished
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [ ]:
df.shape

(545, 13)

In [ ]:
df.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [ ]:
df.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [ ]:
df['price']

0      13300000
1      12250000
2      12250000
3      12215000
4      11410000
         ...
540     1820000
541     1767150
542     1750000
543     1750000
544     1750000
Name: price, Length: 545, dtype: int64

In [ ]:
df.ndim

2

In [ ]:
X.ndim

2

In [ ]:
y.ndim

1

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [ ]:
len(x_train)

436

In [ ]:
X.shape

(12, 545)

In [ ]:
y.shape

(545,)

In [ ]:
x = X.transpose()

In [ ]:
len(x_test)

109

In [ ]:
df = df.replace(to_replace ="yes",
                 value =1)

In [ ]:
df = df.replace(to_replace ="no",
                 value =0)

In [ ]:
df = df.replace(to_replace ="furnished",
                 value =1)

In [ ]:
df = df.replace(to_replace ="semi-furnished",
                 value =0)

In [ ]:
df = df.replace(to_replace ="unfurnished",
                 value = -1)

In [ ]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,1
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,0
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,1
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,1,0,1,0,0,2,0,-1
541,1767150,2400,3,1,1,0,0,0,0,0,0,0,0
542,1750000,3620,2,1,1,1,0,0,0,0,0,0,-1
543,1750000,2910,3,1,1,0,0,0,0,0,0,0,1
544,1750000,3850,3,1,2,1,0,0,0,0,0,0,-1

In [ ]:
model = LinearRegression()

In [ ]:
X = np.array([df.area, df.bedrooms, df.bathrooms, df.stories, df.mainroad, df.guestroom, df.basement, df.hotwaterheating, df.airconditioning, df.parking, df.prefarea, df.furnishingstatus])
y = df.price

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [ ]:
model = model.fit(x_train,y_train)

LinearRegression()

In [ ]:
x_train.shape

(436, 12)

In [ ]:
y_train.shape

(436,)

In [ ]:
y_pred = model.predict(np.array([x_test]).reshape(-1,12))

In [ ]:
y_pred

array([3030701.08157278, 4642909.91849555, 6034156.43169661,
       8039751.15203853, 4872302.64555293, 5436721.0820302 ,
       2192023.48752447, 4441928.78669206, 7017121.02316861,
       4307990.00381864, 5579756.59838409, 3450579.8978039 ,
       3939860.22772812, 4288053.18519171, 3328063.33501229,
       6206493.62249027, 4866072.81303224, 6632902.97477044,
       6217128.63865183, 4449768.26264071, 5330943.23551083,
       4022597.0584148 , 2846255.17542034, 3907569.56630446,
       4022676.06056885, 4752020.50125074, 4194092.38114172,
       4804324.43722986, 2581184.44283961, 7416632.35568753,
       7458377.90708132, 4085625.6211102 , 6649166.64899577,
       3327875.28413072, 2060284.7188768 , 3689309.79142296,
       5183088.49372989, 3026135.26980075, 5577484.06088112,
       4291581.97712237, 8165200.64952605, 3374004.05386584,
       4497651.39803506, 6531211.08765678, 7947631.76100598,
       6755772.78039834, 2861594.06320192, 3235954.74998794,
       3502528.95316517, 2753165.01256828, 4524679.9550957 ,
       6519232.91226189, 4091441.78956195, 4093996.84262712,
       7553193.34657804, 2609863.86553965, 6511473.18944331,
       3604522.16551185, 8120509.03860176, 4449116.12280992,
       3218011.26587033, 5804993.74110778, 6457666.85170179,
       5827975.01887511, 8168927.77021157, 5307173.7517444 ,
       7222194.27431859, 8391258.26900364, 6599909.58278724,
       5492702.91024326, 5761651.51372927, 5082693.12961616,
       3307123.83791091, 3185170.6789239 , 3389545.41009605,
       3267025.1956714 , 3211612.29927801, 6936880.38441276,
       6671895.82796367, 4949330.32364791, 3798332.67968578,
       2855718.84857066, 4555400.95601844, 6422921.3638344 ,
       2907105.26387965, 2910917.0620876 , 6425685.45130627,
       3497838.82857031, 8027826.137307  , 6718362.6983068 ,
       3631203.12600923, 6587851.31548259, 5560185.80560764,
       3378757.61441466, 3712519.68157308, 4551148.24688695,
       3796064.72102921, 4862268.93398034, 3338958.00505749,
       3580413.4608665 , 2835266.47993435, 4877386.83189153,
       6299883.92370442, 4707462.24087206, 7153659.1669092 ,
       5090987.87258552, 2739917.54956208, 5099378.10632371,
       2585828.13546038])

In [ ]:
y_test

498     2660000
218     4830000
383     3570000
7      10150000
334     3920000
         ...
270     4340000
335     3920000
468     3010000
278     4277000
438     3255000
Name: price, Length: 109, dtype: int64

In [ ]:
r2_score(y_test, y_pred)

0.6536082717502136

In [ ]:
model.predict([[(7517),(4),(3),(2),(0),(1),(1),(1),(0),(2),(1),(1)]])

array([9508479.12980935])